body {
    background-image: url("../Profile/y.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

  }


  .btn
{
    border: 1px solid black;
    background: none;
    width: 180px;
    padding: 10px 20px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.search
{
    color: black;
}
.search:hover
{
    color: black;
}
.btn::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(65, 123, 190);
    z-index: -1;
    transition: 0.7s;
}
.search::before
{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.search:hover::before
{
    height: 180%;
}

a{
    text-decoration: none;
    color: blue;
}
input[type=email] {
    width: 100%;
    padding: 9px 15px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid blue;
  }
  input[type=email]:focus {
    border: 2px solid blue;
  }
  input[type=password] {
    width: 100%;
    padding: 9px 15px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid blue;
  }
  input[type=password]:focus {
    border: 2px solid blue;
  }

  input[type=text] {
    width: 100%;
    padding: 9px 15px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid blue;
  }
  input[type=text]:focus {
    border: 2px solid blue;
  }